<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 吉林党建网答题微网站</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("学习理论", "Index", "News", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("学习理论", "News", "News")</li>
                    <li>@Html.ActionLink("网络答题", "answer", "answer")</li>
                    <li>@Html.ActionLink("个人中心", "personal", "personal")</li>
                    <li>@Html.ActionLink("联系方式", "About", "About")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown"><span aria-hidden="true" class="fa fa-cogs"></span> 网络答题 <span aria-hidden="true" class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/answer/test"><span aria-hidden="true" class="fa fa-life-ring"></span> 练习答题</a></li>
                            <li><a href="/answer/real"><span aria-hidden="true" class="fa fa-line-chart"></span> 网上测试</a></li>
                            <li><a href="/answer/youke"><span aria-hidden="true" class="fa fa-heart"></span> 游客答题</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 吉林党建网微网站</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
